{% extends 'base_page.html' %}
{% load static %}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/newsfeed.css' %}">{%endblock css%}
{% block title %}News Feed{% endblock title %}
{% block body %}
<div class="container_box">
    <div class="blog_post">
        <div class="blog_img">
             <img src="{% static 'images/background.jpg' %}" alt="">
         </div>
        <div class="blog_post_info">
            <div class="date">
                <span>Day</span>
                <span>MM DD YYYY</span>
            </div>
            <h1 class="blog_title">
                Lorem ipsum dolor sit amet, consectetur adipisicing.
            </h1>
            <p class="blog_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil minima labore totam quo enim nostrum itaque adipisci cupiditate ea maiores sed, voluptas voluptatibus repellendus sint odit tempore! Asperiores vero odio, magni facere natus sed ratione amet ex? Suscipit dolorem debitis quo dolores, maxime eos! Quo commodi facere corporis odit incidunt?
            </p>
            <a href="#" class="btn">Continue Reading</a>
        </div>
    </div>
            
    <div class="blog_post">
        <div class="blog_img">
            <img src="{% static 'images/background.jpg' %}" alt="">
        </div>
        <div class="blog_post_info">
            <div class="date">
                <span>Day</span>
                <span>MM DD YYYY</span>
            </div>
            <h1 class="blog_title">
                Lorem ipsum dolor sit amet, consectetur adipisicing.
            </h1>
            <p class="blog_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil minima labore totam quo enim nostrum itaque adipisci cupiditate ea maiores sed, voluptas voluptatibus repellendus sint odit tempore! Asperiores vero odio, magni facere natus sed ratione amet ex? Suscipit dolorem debitis quo dolores, maxime eos! Quo commodi facere corporis odit incidunt?
            </p>
            <a href="#" class="btn">Continue Reading</a>
        </div>
    </div>

    <div class="blog_post">
        <div class="blog_img">
            <img src="{% static 'images/background.jpg' %}" alt="">
        </div>
        <div class="blog_post_info">
            <div class="date">
                <span>Day</span>
                <span>MM DD YYYY</span>
            </div>
            <h1 class="blog_title">
                Lorem ipsum dolor sit amet, consectetur adipisicing.
            </h1>
            <p class="blog_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil minima labore totam quo enim nostrum itaque adipisci cupiditate ea maiores sed, voluptas voluptatibus repellendus sint odit tempore! Asperiores vero odio, magni facere natus sed ratione amet ex? Suscipit dolorem debitis quo dolores, maxime eos! Quo commodi facere corporis odit incidunt?
            </p>
            <a href="#" class="btn">Continue Reading</a>
        </div>
    </div>
            
    <div class="blog_post">
        <div class="blog_img">
            <img src="{% static 'images/background.jpg' %}" alt="">
        </div>
        <div class="blog_post_info">
            <div class="date">
                <span>Day</span>
                <span>MM DD YYYY</span>
            </div>
            <h1 class="blog_title">
                Lorem ipsum dolor sit amet, consectetur adipisicing.
            </h1>
            <p class="blog_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil minima labore totam quo enim nostrum itaque adipisci cupiditate ea maiores sed, voluptas voluptatibus repellendus sint odit tempore! Asperiores vero odio, magni facere natus sed ratione amet ex? Suscipit dolorem debitis quo dolores, maxime eos! Quo commodi facere corporis odit incidunt?
            </p>
            <a href="#" class="btn">Continue Reading</a>
        </div>
    </div>
</div>
{% endblock body %}
{% block space %}
<div style="margin-top: 1200px;"></div>
{% endblock space %}