{% extends 'base_page.html' %}
{% load static %}

{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_sources_page.css' %}">{%endblock css%}
{% block title %}Sources{% endblock title %}
{% block body %}
        <!--Added By Omkar Mudkanna for sources page-->
            <div id="sources_box">
                <div id="army_sources">
                    <div id="sources_header">
                        <h2>Indian Army</h2>
                    </div>
                    <div id="source_template">
                        <ul>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                    <p>source_details</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="navy_sources">
                    <div id="sources_header">
                        <h2>Indian Navy</h2>
                    </div>
                    <div id="source_template">
                        <ul>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="airforce_sources">
                    <div id="sources_header">
                        <h2>Indian AirForce</h2>
                    </div>
                    <div id="source_template">
                        <ul>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="{% url 'main_page'%}"><img src="{% static 'images/profiles/profiles.jpg' %}" alt=""></a>
                                </div>
                                <div>
                                    <p>Source_name</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Added By Omkar Mudkanna for sources page-->    
{% endblock body %}
{% block space %}
<div class="last-space"></div>
{% endblock space %}